[user]
	name = Brad Cowie
	email = {{ .email }}
[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	default = simple
[branch]
	sort = authordate
[column]
	branch = auto
[includeIf "gitdir:~/Dev/wand/"]
	path = ~/Dev/wand/.gitconfig
[includeIf "gitdir:~/Dev/faucet/"]
	path = ~/Dev/faucet/.gitconfig
[includeIf "gitdir:~/Dev/fsmg/"]
	path = ~/Dev/fsmg/.gitconfig
[includeIf "gitdir:~/Dev/kde/"]
	path = ~/Dev/kde/.gitconfig
[includeIf "gitdir:~/Dev/canopus/"]
	path = ~/Dev/canopus/.gitconfig
