[user]
	name = Brad Cowie
	email = {{ .email }}
[core]
	editor = vim
[push]
	default = simple
[branch]
	sort = authordate
[column]
	branch = auto
[includeIf "gitdir:~/Dev/wand/"]
	path = ~/Dev/wand/.gitconfig
[includeIf "gitdir:~/Dev/faucet/"]
	path = ~/Dev/faucet/.gitconfig
